.brand_link{
    height: 100px;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: orange;
    color: white;
    font-size: 23px;
}

.brands_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
}