.brand_link{
    height: 100px;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: white;
    color: dimgrey;
    font-size: 23px;
    border-radius: 6px;
    -webkit-box-shadow: 6px 1px 9px -6px #000000;
    box-shadow: 6px 1px 9px -6px #000000;
}

.brands_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
}