.menu{
    background-color: darkblue;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: orange solid 4px;
}

.menu_navbar {
    display: flex;
    background-color:aliceblue;
    column-gap: 30px;
    font-size: 13px;
}

.menu_navbar_link{
    color: darkslategray;
    text-decoration: none;
    margin-left: 15px;
    font-size: 13px;
}

.menu_link{
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 15px;
}

.auth_links span:first-child{
    border: 1px solid white;
}