@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Montserrat:wght@500&family=Oswald:wght@400;500&display=swap');

.car {
    height: 300px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 8px;
    margin-bottom: 20px;
}

.car_card-top-info {
    padding: 10px;
}

.car img {
    height: 150px;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.car-full-top {
    display: flex;
    width: 800px;
}

.car-full {

}

.car-full img {
    height: 300px;
}

.car_card_details {
    display: flex;
    height: 90px;
    font-size: 13px;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
}

.carousel-carfull {
    width: 500px;
}

.swiper_wrapper_car {
    width: 400px;
}

.car-full-data {
    background-color: white;
    color: darkslategray;
    width: 400px;
    margin-left: 10px;
    /*border: 1px solid darkslategray;*/
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.car-full-data div {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.5px white;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid darkslategray;

}

.car-full-data button {
    height: 30px;
    width: 180px;
    margin-top: 20px;
    background-color: rgba(243, 0, 68, 0.91);
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
}

.car-pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: darkslategray;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    height: 40px;
    font-size: 20px;
    box-sizing: border-box;
}

.car-full-wrap {
    background-color: rgba(86, 86, 86, 0.06);
    display: flex;
}

.checkout-form {
    width: 300px;
    background-color: white;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.checkout-form-insides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.checkout-form-insides form {
    /*width: 200px;*/
}

.checkout-form input {
    height: 30px;
    width: 180px;
    border-radius: 15px;
    border: 1px solid darkgrey;
}

.checkout-form button {
    border: none;
    color: white;
    background-color: rgba(243, 0, 68, 0.91);
    width: 180px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    height: 30px;
}

.checkout-form-dates{
    display: flex;
}

.car_description {
    height: 100px;
    width: 300px;
}

.car-full-bottom {
    width: 800px;
    display: flex;
}

.car-full-bottom div {
    width: 400px;
}

.car_features {
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    width: 800px;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    height: 100px;
    box-sizing: border-box;
}

.cars{
    margin-left: 30px;
    margin-top: 30px;
}