@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Montserrat:wght@500&family=Oswald:wght@400;500&display=swap');

.car {
    height: 300px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 8px;
    margin-bottom: 20px;
}

.car_card-top-info{
    padding: 10px;
}

.car img {
    height: 150px;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.car-full-top {
    display: flex;
    justify-content: left;
    /*padding-right: 300px;*/
}

.car-full img {
    height: 300px;
}

.car_card_details{
    display: flex;
    height: 90px;
    font-size: 13px;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
}

.carousel-carfull {
    width: 500px;
}

.swiper_wrapper_car {
    width: 600px;
}

.car-full-data {
    background-color: #3b383d;
    color: white;
    /*font-family: 'Montserrat', sans-serif;*/
    box-sizing: border-box;
    padding: 10px;
}

.car-full-data div {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.5px white;
    box-sizing: border-box;
    padding: 10px;

}

.car-full-data button {
    height: 30px;
    width: 180px;
    margin-top: 20px;
    margin-left: 60px;
    background-color: orange;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
}

.car-pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    height: 40px;
    font-size: 20px;
    box-sizing: border-box;
    border-bottom: solid 0.5px white;
}

.car-full-wrap h2 {
    font-family: 'Montserrat', sans-serif;

}

.checkout-form {
    border: 1px solid darkslategray;
    border-radius: 6px;
    width: 300px;
    margin-left: 20px;
    box-sizing: border-box;
    padding: 20px;
}

.checkout-form-insides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout-form input {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid darkslategray;
    margin-top: 15px;
}

.checkout-form button {
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: orange;
    width: 100px;
    height: 30px;
}

.car_description{
    height: 100px;
    width: 300px;
}

.car_features {
    border: 1px solid darkslategray;
    border-radius: 5px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.car_feature{
    margin: 15px;
}
