@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Montserrat:wght@500&family=Oswald:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
}

.menu{
  background-color: #080050;
  color: silver;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_navbar{
  display: flex;
  column-gap: 30px;
}

.brands{
  background-color: white;
  padding: 10px;
  width: 150px;
  font-weight: bold;
  border-radius: 8px;
  border: darkgrey 1px solid;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: darkslategray;
  position: absolute;
}

.brands div{
  border-bottom: solid 1px white;
}

.content{
  height: 400px;
  background-size: cover;
}

.order-card-img{
  height: 200px;
}

.car_types_wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: dimgrey;
}

.car_types{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
}

.car_types_wrap h2{
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;

}

.car_types div{
  height: 100px;
  width: 250px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: white;
  color: dimgrey;
  font-size: 23px;
  border-radius: 6px;
  -webkit-box-shadow: 6px 1px 9px -6px #000000;
  box-shadow: 6px 1px 9px -6px #000000;
}
