@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Montserrat:wght@500&family=Oswald:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
}

.menu{
  background-color: darkblue;
  color: silver;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_navbar{
  display: flex;
  column-gap: 30px;
}

.brands{
  background-color: darkblue;
  padding: 10px;
  box-sizing: border-box;
  border: darkgrey 1px solid;
  border-top: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  /*position: absolute;*/
  color: white;
  position: absolute;
}

.brands div{
  border-bottom: solid 1px white;
}

.content{
  height: 400px;
  /*background-image: url("ed8ad478954981.5cb48dbc51a4fcopy.jpg");*/
  /*border-top: 1px grey solid;*/
  background-size: cover;
}

.order-card-img{
  height: 200px;
}

.car_types{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
}

.car_types div{
  height: 100px;
  width: 250px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: orange;
  color: white;
  font-size: 23px;
}
