*{
  margin: 0;
  padding: 0;
}

.menu{
  background-color: black;
  color: silver;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_navbar{
  display: flex;
  column-gap: 30px;
}

.brands{
  background-color: black;
  padding: 10px;
  box-sizing: border-box;
  border: darkgrey 1px solid;
  border-top: none;
  row-gap: 10px;
  position: absolute;
}

.content{
  height: 400px;
  /*background-image: url("ed8ad478954981.5cb48dbc51a4fcopy.jpg");*/
  /*border-top: 1px grey solid;*/
  background-size: cover;
}

