.login_div {
    height: 300px;
    color: black;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.login_form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.login_form input {
    height: 40px;
    border: 1px solid silver;
    backdrop-filter: blur(1px);
}

.login_form button{
    height: 40px;
    width: 80px;
    color: black;
    border-radius: 3px;
    border: none;
    background-color: orange;
}

.pass_forgot_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.pass_forgot_form button{
    height: 40px;
    width: 80px;
    color: black;
    border-radius: 3px;
    border: none;
    background-color: orange;
}

.pass_forgot_form input {
    height: 40px;
    width: 400px;
    border: 1px solid silver;
    backdrop-filter: blur(1px);
}

.car-form{
    background-color: black;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}

.car_features_params{
    display: flex;
    flex-direction: column;
}