.login_div {
    height: 300px;
    width: 600px;
    padding: 30px;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.login_form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.login_form input {
    height: 40px;
    border: 1px solid silver;
    backdrop-filter: blur(1px);
}

.login_form button{
    height: 40px;
    width: 80px;
    color: black;
    border-radius: 3px;
    border: none;
    background-color: orange;
}

.pass_forgot_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.pass_forgot_form button{
    height: 40px;
    width: 80px;
    color: black;
    border-radius: 3px;
    border: none;
    background-color: orange;
}

.pass_forgot_form input {
    height: 40px;
    width: 400px;
    border: 1px solid silver;
    backdrop-filter: blur(1px);
}

.car-form{
    background-color: black;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}

.car-params-form{
    width: 300px;
    background-color:rgba(216,216,216,0.51);
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
    row-gap: 30px;
    border: 1px gray solid;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.car-params-form button{
    height: 30px;
    background-color: orange;
    border: 1px solid white;
    border-radius: 5px;
    width: 100px;
    color: white;

}

.car-params-form input[type=text]{
    height: 30px;
    border-radius: 5px;
    border: 1px gray solid;
}

.car-params-form input[type=number]{
    height: 30px;
    border-radius: 5px;
    border: 1px gray solid;
}

.car_features_params{
    display: flex;
    flex-direction: column;
}
